<h2>User Sign Up</h2>

<%= form_tag announcements_path, :class => 'form' do %>
  <%= label :users, :account_name, 'User Name', :class => 'col-form-label' %>
  <%= text_field :users, :account_name, :class => 'form-control' %>
  
  <%= label :users, :password, 'Password', :class => 'col-form-label' %>
  <%= text_field :users, :password, :class => 'form-control' %>
  
  <%= label :users, :first_name, 'First Name', :class => 'col-form-label' %>
  <%= text_field :users, :first_name, :class => 'form-control' %>
  
  <%= label :users, :organization, 'University/ Company', :class => 'col-form-label' %>
  <%= text_field :users, :organization, :class => 'form-control' %>
  
  <%= label :users, :email, 'Email', :class => 'col-form-label' %>
  <%= text_field :users, :email, :class => 'form-control' %>
  
  <%= label :users, :phone, 'Phone', :class => 'col-form-label' %>
  <%= text_field :users, :phone, :class => 'form-control' %>
 
  
  <%= label :users, :research_interests, 'Reasarch Insterests', :class => 'col-form-label'  %>
  <br/>
  <%= label :users, :research_interests, 'high performance computing'%>
  <%= check_box_tag "high performance computing", "1"%>
  
  <%= label :users, :research_interests, 'machine learning'%>
  <%= check_box_tag "machine learning", "1"%>
  
  <%= label :users, :research_interests, 'operating system'%>
  <%= check_box_tag "operating system", "1"%>

 <br/>
  
  <%= label :users, :mentor, 'Mentor', :class => 'col-form-label'%>
  <%= check_box_tag "mentor", "1"%>
  
  <%= label :users, :mentee, 'Mentee'%>
  <%= check_box_tag "mentee", "1"%>
  
  <br/>
  <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', announcements_path, :class => 'btn btn-secondary' %>
<% end %>
