<h2>Post an Announcement</h2>

<%= form_tag announcements_path, :class => 'form' do %>
  <%= label :announcement, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :announcement, :title, :class => 'form-control' %>
  
  <%= label :announcement, :author, 'Author', :class => 'col-form-label' %>
  <%= text_field :announcement, 'author', :class => 'form-control' %>
  
  <%= label :announcement, :description, 'Content', :class => 'col-form-label' %>
  <%= text_field :announcement, :description, :class => 'form-control' %>
  
  <%= label :announcement, :release_date, 'Released On', :class => 'col-form-label'  %>
  <%= date_select :announcement, :release_date, {}, :class => 'form-control col-2 d-inline' %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', announcements_path, :class => 'btn btn-secondary' %>
<% end %>
